.root{
    -fx-font-family: "Microsoft YaHei";
}

.scroll-pane {
   -fx-background: #3D4956;
   -fx-border-color: #3D4956;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.label.title{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.label.header {
    -fx-font-size: 17px;
    -fx-text-fill: silver;
}

.label.pass {
    -fx-font-size: 17px;
    -fx-text-fill: #0ccc85;
    -fx-font-weight: bold;
}

.label.fail {
    -fx-font-size: 17px;
    -fx-text-fill: #eda678;
    -fx-font-weight: bold;
}

.grid {
    -fx-hgap: 30;
    -fx-vgap: 20;
}