.root{
    -fx-font-family: "Microsoft YaHei";
}

.scroll-pane {
   -fx-background: #3D4956;
   -fx-border-color: #3D4956;
}

.label{
    -fx-font-size: 14px;
    -fx-text-fill: silver;
}

.label.clickable{
    -fx-underline: true;
}

.label.clickable-mouse-enter{
    -fx-text-fill: #00d0bb;
}

.label.moment_value{
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

.slider .thumb {
    -fx-background-color: #009688;
}

.slider .track {
    -fx-background-color: silver;
}

.slider .axis {
    -fx-tick-label-fill: white;
    -fx-tick-label-font-size: 14px;
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-stroke: silver;
}

.slider .slider-value {
    -fx-stroke: white;
    -fx-font-size: 11px;
}

.check-box{
    -fx-font-size: 14px;
    -fx-text-fill: silver;
}

.hovered-threshold{
    -fx-background-color: #0f9d58;
    -fx-border-radius: 5px;
}

.hovered-threshold .label{
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.text-field{
    -fx-pref-width: 150;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-prompt-text-fill: silver;
    -jfx-focus-color: #00d0bb;
    -jfx-unfocus-color: silver;
    -jfx-label-float: true;
}

.text-field:focused{
    -fx-text-fill: #00d0bb;
}

.combo-box {
    -fx-font-size: 14px;
    -fx-prompt-text-fill: silver;
    -jfx-focus-color: #00d0bb;
    -jfx-unfocus-color: silver;
    -jfx-label-float: true;
}

.combo-box-base{
    -fx-color: #3D4956;
}

.combo-box .cell{
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.combo-box .list-cell{
    -fx-background-color: grey;
}


.combo-box .list-cell:hover{
    -fx-background-color: #eda678;
}


.combo-box .list-cell:selected{
    -fx-background-color: #3D4956;
}

.spinner .text-field{
    -fx-background-color: #3D4956;
    -fx-border-color: #0f9d58;
    -fx-border-radius: 5 0 0 5;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: #0f9d58;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow{
    -fx-background-color: white;
}

.button{
    -fx-pref-width: 140;
    -fx-min-height: 35;
    -fx-text-fill: #3d4956;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom, #ffb88c, #eda678);
    -jfx-button-type: RAISED;
}

.button-config{
    -fx-text-fill: silver;
    -fx-background-color: linear-gradient(to bottom, #637184, #515d6d);
}

.jfx-button .jfx-rippler{
    -jfx-rippler-fill: white;
}

.line {
    -fx-stroke: #009688;
    -fx-stroke-width: 3px
}
.axis {
    -fx-stroke: silver;
}

.axis-tick-mark {
    -fx-stroke: silver;
}
.axis-minor-tick-mark {
    -fx-stroke: silver;
}

.value_mark {
    -fx-background-color: rgb(0, 150, 136, 0.5);
    -fx-background-radius: 5px;
    -fx-alignment: center;
    -fx-padding: 7.0;
}

.value_mark.no_transparent{
    -fx-background-color: rgb(0, 150, 136);
}

.value_mark .label {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 13px;
}