.root{
    -fx-font-family: "Microsoft YaHei";
    -fx-background: #3D4956;
}

.label{
    -fx-font-size: 14px;
}

.label.title{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: silver;
}

.label.rebar{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #eda678
}

.value_mark {
    -fx-background-color: rgb(0, 150, 136);
    -fx-background-radius: 5px;
    -fx-alignment: center;
    -fx-padding: 7.0;
}

.value_mark .label {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

